[Unit]
Description=Job that runs the relaychess daemon
Documentation=man:relaychess(1)
After=syslog.target network-online.target mongodb.service

[Service]
Type=simple
User=relay
Group=relay
ExecStart=/usr/bin/node /home/relay/RelayChess/app.js
Restart=always

[Install]
WantedBy=multi-user.target
